<div class="widget tag">
    <h3 class="title">友情链接</h3>
    <ul class="entry">
        <li><a href="http://blog.loveall.us" title="兔子Gor's Blog">兔子Gor</a></li>
        <li><a href="http://iamsonic.info" title="融点的博客">融点的博客</a></li>     
    </ul>
</div>